@use "./colors.scss";


main {
  display: flex;
  width: 100%;
  flex: 1;
}

aside {
  flex: 1;
  background-color: colors.$background-light;
  padding: 20px;
}

section {
  flex: 2;
  padding: 20px;
}

